@import "tailwindcss";

/* @keyframes floatUpDown {
  0% { transform: translateY(0); }
  25% { transform: translateY(-8px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(8px); }
  100% { transform: translateY(0); }
}


.animate-float-color {
  animation: floatUpDown 2.5s ease-in-out infinite, colorRedYellow 2s infinite linear;
} */
